@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 전역 스타일 */
body {
  font-family: "Pretendard", sans-serif;
  color: #181818;
  background-color: #ffffff;
}
