@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Pretendard", system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: var(--font-family);
  color: #181818;
  background-color: #ffffff;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
