.bio-form textarea {
  width: 100%;
  display: flex;
  max-width: 720px;
  height: 150px;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  color: #181818;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
textarea {
  resize: none;
}

.bio-form textarea::placeholder {
  color: #939393;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.bio-form textarea:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}
.bio-form textarea:hover {
  outline: none;
  border-color: black;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}
