.password-form input {
  max-width: 100%;
  display: flex;
  width: 720px;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  color: #181818;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.password-form input::placeholder {
  color: #939393;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.password-form input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}
.password-form input:hover {
  outline: none;
  border-color: black;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

.error-message {
  color: #f74747;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
