@theme {
  --font-sans: 'Pretendard', sans-serif;
}

@utility font-bold-18 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

@utility font-bold-16 {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
}

@utility font-regular-16 {
  font-size: 1rem;
  line-height: 1.625rem;
}
